*{
    margin: 0;
    padding: 0; 
    padding-left: 20px;  
    padding-right: 20px;  
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1320px;
    margin: 0 auto;
}


.clr{
    clear: both;
}

.title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #0f2f44;
}


.title h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    font-weight: 400;
    color: #0f2f44;
}

/* nav part start */
nav{
    background: #7abfed;
    border-radius: 5px;
}

nav .container{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}

nav .logo{
    font-family: 'Playfair Display', serif;
    color: #0f2f44;
    font-size: 20px;
    font-weight: 300;
}

nav .nav-item {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 5px 5px;
}
nav .nav-item li a{
    color: black;
    transition: .4s;
} 

nav .nav-item li a:hover{
    color: #fff;
    background: black;
    border-radius: 5px;

} 

/* nav part end */


/* banner-part start */
#banner-part{
    margin-top: 20px;
}

#banner-part .container{
    display: flex;
    justify-content: space-between;
}

#banner-part .port h1{
    color:#203847;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-top: 160px;
}

#banner-part .port p{
    color:#203847;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

#banner-part .port button{
    color:#9bc7e3;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border-color: #0f2f44;
    background: #0f2f44;
    transition: .4s;
    cursor: pointer;
    padding: 12px 30px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;

}

#banner-part .port button:hover{
    color:#0b0b0b;
    background: #2afef7;
}

/* banner-part end */

/* about part start */
#about-part {
    margin-top: 35px;
    padding-left: 0px;
    margin-bottom: 10px;
}

#about-part .container{
    background: #1b1b41;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 20px;
}

#about-part .details .heading h1{
    color:#fffbfb;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    transition: .4s;
}

#about-part .details .heading h1:hover{
    color:#dea1a1;
}

#about-part .details .heading p{
    color:#fffdfd;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    transition: .4s;
}

#about-part .details .heading p:hover{
    color: #e2a9a9;
}

#about-part .details .info li{
    color:#ffffff;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: decimal;
    margin-left: 35px;
}

#about-part a{
    color:rgb(42, 67, 77);
    background: #2afef7;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    padding: 12px 30px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 45%;
}

#about-part a:hover{
    color:rgb(140, 216, 247);
    background: #0f1b1a;
}

/* about part end */

/* project-part start */
#project-part{
    margin-top: 50px;
    background: #9bc7e3;
    border-radius: 5px;
}
#project-part .mid h1{
    margin-bottom: 30px;
    text-align: center;
    color: #1b1b41;
    font-size: 35px;
    font-weight: 700;
    text-decoration: underline;
}

#project-part .images{
    justify-content: center;
    margin-left: 8%;
}

/* project-part end */

/* video-part start */
#video-part{
    margin-top: 10px;
    background: #9bc7e3;
}




/* video-part end */
